@import "../modules/fontawesome/scss/fontawesome.scss";
@import "../modules/fontawesome/scss/solid.scss";
@import "../modules/fontawesome/scss/brands.scss";

$line-width: 12rem;
$color: rgba(255, 255, 255, 0.85);

.section-title {
  .section-title__text {
    display: flex;
    justify-content: center;
    color: $color;
    font-size: 2.2em;
    text-shadow: 0px 2px 2px #000000;
  }

  .section-title__lines {
    position: relative;
    width: 15rem;
    margin: 0 auto;
    display: flex;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }

  .section-title__line-wrapper {
    width: 12rem;
  }

  .section-title__line-wrapper--big {
    width: 15rem;
  }

  .section-title__line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 2px 2px #000000;
    transition: all 0.2s linear;
  }

  .section-title__icon {
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-self: center;
    margin-right: 1rem;
  }

  .code-icon {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-code);
    }
  }

  .contact-icon {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-envelope);
    }
  }
}
