@import "../helpers/vars";

.stars {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 51px;
    margin: 0 20px;
  }

  &__star {
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;

    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;

    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 0.3em solid transparent;

    /* Controlls the size of the stars. */
    font-size: 32px;

    transition: $animation-time-slow ease-in-out;
    animation: star-animation $animation-time-slow normal ease-in-out;

    @keyframes star-animation {
      0% {
        font-size: 12px;
        filter: opacity(0);
      }
      100% {
        font-size: 24px;
        filter: opacity(1);
      }
    }

    &:before,
    &:after {
      content: "";

      display: block;
      width: 0;
      height: 0;

      position: absolute;
      top: 0.6em;
      left: -1em;

      border-right: 1em solid transparent;
      border-bottom: 0.7em solid #fc0;
      border-left: 1em solid transparent;

      transform: rotate(-35deg);
    }

    &:after {
      transform: rotate(35deg);
    }

    &--hide {
      font-size: 12px;
      opacity: 0;
    }
  }
}
