@import "../helpers/mixins";

.banner {
  position: relative;
  min-height: 100vh;
  background: url(/assets/img/banner.jpg);
  background-color: black;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

    img {
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 1;
      height: 20%;
      margin: 40px;
      position: absolute;
      filter: opacity(0);
      animation: banner-animation 1s normal forwards ease-in-out;
      animation-delay: calc(0.1s * var(--i));
    }

    @keyframes banner-animation {
      0% {
        filter: opacity(0);
      }
      100% {
        filter: opacity(0.4);
      }
    }

    img:nth-child(1) {
      right: 5%;
      top: 40%;
    }

    img:nth-child(2) {
      bottom: 0;
      left: 0;
    }

    img:nth-child(3) {
      bottom: 0;
      right: 30%;
    }

    img:nth-child(4) {
      bottom: 0;
      right: 0;
    }

    img:nth-child(5) {
      top: 0;
      right: 30%;
    }

    img:nth-child(6) {
      top: 30%;
      left: 30%;
    }

    img:nth-child(7) {
      top: 0;
      left: 50%;
    }

    img:nth-child(8) {
      top: 0;
      left: 0;
    }

    img:nth-child(9) {
      top: 10%;
      right: 10%;
    }

    img:nth-child(10) {
      bottom: 30%;
      right: 30%;
    }

    img:nth-child(11) {
      top: 50%;
      left: 0;
    }

    img:nth-child(12) {
      bottom: 10%;
      left: 30%;
    }
  }

  &__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__heading {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding: 0;

    @include desktop {
      padding: 100px;
    }
  }

  &__main-heading {
    position: relative;
    font-size: 2.1em;
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 2;

    @include desktop {
      font-size: 3em;
    }

    @include tablet {
      font-size: 2.65em;
    }

    &::before {
      content: "<h1>";
      font-size: 0.4em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      left: 25%;
    }

    &::after {
      content: "</h1>";
      font-size: 0.4em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      right: -60px;
    }

    span {
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  &__secondary-heading {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    z-index: 2;

    &::before {
      content: "<p>";
      font-size: 0.6em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      left: 75px;
      top: 5px;
    }

    &::after {
      content: "</p>";
      font-size: 0.6em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      margin-left: 5px;
      top: 5px;
    }
  }

  &__btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    z-index: 2;

    &::before {
      content: "<a>";
      font-size: 0.6em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      left: -30px;
      margin-top: 5px;
      text-transform: lowercase;
    }

    &::after {
      content: "</a>";
      font-size: 0.6em;
      color: #ccc;
      font-family: SourceCodePro-LightItalic;
      position: absolute;
      right: -40px;
      margin-top: 5px;
      text-transform: lowercase;
    }
  }
}
