@import "../helpers/mixins";
@import "../helpers/vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  @include desktop {
    padding: 25px 100px;
  }

  &--sticky {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 0;

    @include desktop {
      padding: 10px 100px;
    }

    .header__logo {
      color: #222;

      span {
        &:nth-child(3),
        &:nth-child(4) {
          color: #00cc6a;
        }
      }
    }

    .header__nav-list li a {
      color: #111;
    }
  }

  &__logo {
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0 auto;

    @include desktop {
      margin: 0;
    }

    span {
      font-family: Logo;

      &:nth-child(1) {
        font-weight: 400;
        font-size: 1.35em;
        margin-right: -1rem;
      }

      &:nth-child(2) {
        font-family: Logo Middle;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 1.9em;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
      }

      &:nth-child(3) {
        font-size: 1.35em;
        color: $primary-color;
        margin-left: -1rem;
      }

      &:nth-child(4) {
        font-size: 1em;
        color: $primary-color;
      }
    }
  }

  &__nav-list {
    position: relative;
    display: none;

    li {
      position: relative;
      list-style: none;

      a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        color: #fff;
        text-decoration: none;
      }
    }

    @include desktop {
      display: flex;
    }
  }
}
